* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

.title {
  /* display: none; */
  text-align: center;
  transition: 0.5s;
}

/* .header:hover {
  display: block;
} */

.accordion__wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
}

.accordion__list {
  list-style-type: none;

}

.accordion__item:hover > img{
  cursor: pointer;
  opacity: 1;
}
.accordion__item{
  z-index: 1;

}

.accordion__title {
  display: block;
  /* height: 50px; */
  padding: 1rem 2rem;
  border: 2px solid #808080;
  background: #eef0f4;

  background-repeat: no-repeat;
  background-position-y: center;
  background-size: 5%;
  background-position-x: 97%;
  color: #0000FF;
  opacity: 100%;
  font-size: 3rem;
  transition: 1s;

  cursor: pointer;

}

.accordion__title:hover {
  color: #000000;
  background-image: url(../assets/svg/plus.svg);

  /* background-image: url(../assets/svg/cross.svg); */
}
.accordion__title:hover ~ .accordion__image{

  opacity: 1;
  height: 100%;

  /* background-image: url(../assets/svg/cross.svg); */
}

.accordion__input {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;

}

.accordion__input:checked + .accordion__image {
  height: 100%;
  opacity: 1;
}

.accordion__image {
  display: block;
  width: 70%;
  height: 0;
  margin: 0 auto;
  object-fit: contain;
  opacity:0;
  transition: 1s;
  /* transition: opacity 0.5s, height 0.4s; */
  /* background-image: url(../assets/img/01.jpg); */
}